image:
  repository: ghcr.io/linuxserver/jellyfin
  tag: 10.8.13
  pullPolicy: IfNotPresent

replicaCount: 1

ingress:
  enabled: true
  hostname: jellyfin.jadogg.com
  path: /
  pathType: Prefix
  clusterIssuer: letsencrypt-prod
  secretName: jellyfin-tls
  annotations: {}

persistence:
  config:
    enabled: true
    size: 250Mi
    storageClass: longhorn-replicated
  data:
    enabled: true
    size: 50Gi
    storageClass: longhorn-replicated

securityContext:
  container:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: false
    capabilities:
      drop:
        - ALL
  pod:
    seccompProfile:
      type: RuntimeDefault
