# Sensitive configuration files
talosconfig
*.kubeconfig

# Sensitive Talos node configurations
cluster/controlplane.yaml
cluster/worker.yaml
cluster/talosconfig

.sops.yaml

# --- OS / IDE Junk ---
.DS_Store
.idea/
.vscode/

# Ignore local kubeseal public key
pub-sealed-secrets.pem

