apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
  annotations:
    {{- toYaml .Values.service.annotations | nindent 4 }}
spec:
  type: ExternalName
  externalName: 10.0.1.50   # <- NAS IP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
