# Default destination for all apps
destination:
  server: https://kubernetes.default.svc
  # It's good practice to put these in a dedicated namespace
  namespace: media

# The list of apps to deploy
# Each app will be created as a separate ArgoCD Application resource.
# We specify the Helm repository, chart name, and version for each.
apps:
  - name: sonarr
    enabled: true
    source:
      repoURL: https://charts.pree.dev
      chart: sonarr
      targetRevision: 1.11.1

  - name: radarr
    enabled: true
    source:
      repoURL: https://charts.pree.dev
      chart: radarr
      targetRevision: 1.24.1

  - name: prowlarr
    enabled: true
    source:
      repoURL: https://charts.pree.dev
      chart: prowlarr
      targetRevision: 1.49.1

  - name: qbittorrent
    enabled: true
    source:
      repoURL: https://charts.gabe565.com
      chart: qbittorrent
      targetRevision: 0.4.1

  - name: jellyfin
    enabled: true
    source:
      repoURL: https://utkuozdemir.org/helm-charts
      chart: jellyfin
      targetRevision: 2.0.0
      helm:
        values: |
          containerSecurityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            capabilities:
              add: []        # removes NET_ADMIN
              drop:
                - ALL
          podSecurityContext:
            seccompProfile:
              type: RuntimeDefault
          ingress:
            enabled: true
            hosts:
              - host: jellyfin.jadogg.com
                paths:
                  - path: /
                    pathType: Prefix
          persistence:
            config:
              enabled: true
              storageClass: longhorn-replicated
            data:
              enabled: true
              storageClass: longhorn-replicated
              size: 50Gi

# Default sync policy for all applications
syncPolicy:
  automated:
    prune: true
    selfHeal: true
  syncOptions:
    - CreateNamespace=true
