# Default destination for all apps
destination:
  server: https://kubernetes.default.svc
  namespace: media

# Applications
apps:
  - name: sonarr
    enabled: true
    source:
      repoURL: https://charts.pree.dev
      chart: sonarr
      targetRevision: 1.11.1

  - name: radarr
    enabled: true
    source:
      repoURL: https://charts.pree.dev
      chart: radarr
      targetRevision: 1.24.1

  - name: prowlarr
    enabled: true
    source:
      repoURL: https://charts.pree.dev
      chart: prowlarr
      targetRevision: 1.49.1

  - name: qbittorrent
    enabled: true
    source:
      repoURL: https://charts.gabe565.com
      chart: qbittorrent
      targetRevision: 0.4.1

  - name: jellyfin
    enabled: true
    source:
      repoURL: https://beluga-cloud.github.io/charts
      chart: jellyfin
      targetRevision: 2.3.0
      helm:
        values: |
          containerSecurityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: false
          podSecurityContext:
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          ingress:
            enabled: true
            hostname: jellyfin.jadogg.com
            path: /
            pathType: Prefix
          persistence:
            config:
              enabled: true
              volumeClaimSpec:
                accessModes: ["ReadWriteOnce"]
                resources:
                  requests:
                    storage: 250Mi
            data:
              enabled: true
              volumeClaimSpec:
                accessModes: ["ReadWriteOnce"]
                resources:
                  requests:
                    storage: 50Gi

# Default sync policy for all applications
syncPolicy:
  automated:
    prune: true
    selfHeal: true
  syncOptions:
    - CreateNamespace=true
