#sealld-secrets-values.yaml
# Sealed Secrets Helm chart values for a standard homelab
fullnameOverride: sealed-secrets-controller  # matches kubeseal default
serviceAccount:
  create: true
  name: sealed-secrets-controller
rbac:
  create: true
  clusterRole: true
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

