env:
  TZ: America/Denver

persistence:
  config:
    enabled: true
    storageClass: longhorn
    size: 1Gi
    accessMode: ReadWriteOnce

  data:
    enabled: true
    storageClass: longhorn
    size: 5Gi
    accessMode: ReadWriteOnce

service:
  dns-tcp:
    enabled: true
    type: LoadBalancer
    loadBalancerIP: 10.0.1.151
    externalTrafficPolicy: Cluster

  dns-udp:
    enabled: true
    type: LoadBalancer
    loadBalancerIP: 10.0.1.151
    externalTrafficPolicy: Cluster

  main:
    ports:
      http:
        port: 80

ingress:
  main:
    enabled: true
    className: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    hosts:
      - host: adguard.jadogg.com
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: jadogg-wildcard-cert
        hosts:
          - adguard.jadogg.com

controllers:
  main:
    containers:
      main:
        probes:
          startup:
            enabled: true
            spec:
              tcpSocket:
                port: 80
              initialDelaySeconds: 30
              periodSeconds: 5
              failureThreshold: 60

          readiness:
            enabled: true
            spec:
              tcpSocket:
                port: 80
              periodSeconds: 10

          liveness:
            enabled: true
            spec:
              tcpSocket:
                port: 80
              periodSeconds: 10
