service:
  annotations: {}

ingress:
  main:
    enabled: true
    className: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/service.serversscheme: https
    hosts:
      - host: truenas.jadogg.com
        paths:
          - path: /ui/
            pathType: Prefix
    tls:
      - secretName: jadogg-wildcard-cert
        hosts:
          - truenas.jadogg.com
