apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nextcloud
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  sources:
    # Source 1: Official Nextcloud Chart
    - repoURL: https://nextcloud.github.io/helm/
      chart: nextcloud
      targetRevision: 8.6.0
      helm:
        valueFiles:
          - $values/charts/nextcloud/values.yaml

    # Source 2: Your Values (Fixed the typo here)
    - repoURL: https://github.com/jadogg22/homelab.git
      targetRevision: main
      ref: values

  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
