apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik-external
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/jadogg22/homelab.git
    targetRevision: main
    path: infrastructure/traefik-external

  destination:
    server: https://kubernetes.default.svc
    namespace: traefik

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
