# charts/vaultwarden/values.yaml
domain: "https://vault.jadogg.com"
signupsAllowed:  true


# 2. Storage (Connecting to TrueNAS iSCSI)
persistence:
  enabled: true
  size: "10Gi"
  storageClass: "truenas-iscsi" # This must match your Democratic CSI class
  accessMode: ReadWriteOnce

# 3. Ingress (Connecting to Traefik)
ingress:
  enabled: true
  # Traefik-specific annotations for HTTPS
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
  
  hosts:
    - host: vault.jadogg.com
      paths:
        - path: /
          pathType: Prefix
  
  tls:
    - secretName: jadogg-wildcard-cert
      hosts:
        - vault.jadogg.com
