# charts/vaultwarden/values.yaml

# charts/vaultwarden/values.yaml

# 1. Global
domain: "https://vault.jadogg.com"
signupsAllowed: true

# 2. Storage (THE FIX IS HERE)
persistence:
  # You must nest everything under 'data' for this chart!
  data:
    enabled: true
    size: "10Gi"
    storageClass: "truenas-iscsi"
    accessMode: ReadWriteOnce

# 3. Ingress
ingress:
  enabled: true
  className: "traefik"
  hosts:
    - host: vault.jadogg.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: jadogg-wildcard-cert
      hosts:
        - vault.jadogg.com
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
