# charts/vaultwarden/values.yaml

# 1. Global
domain: "https://vault.jadogg.com"
signupsAllowed: true  
service:
  port: 8080

# 2. Storage
persistence:
  data:
    enabled: true
    size: "10Gi"
    storageClass: "truenas-iscsi" 
    accessMode: ReadWriteOnce     

# 3. Ingress
ingress:
  enabled: true
  className: traefik  
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  hosts:
    - host: vault.jadogg.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: jadogg-wildcard-cert
      hosts:
        - vault.jadogg.com
