csiDriver:
  name: "org.democratic-csi.iscsi"

storageClasses:
  - name: truenas-iscsi
    defaultClass: false
    reclaimPolicy: Delete
    volumeBindingMode: Immediate
    allowVolumeExpansion: true
    parameters:
      fsType: ext4

# --- NODE CONFIG (TALOS FIXES) ---
node:
  hostPID: true
  iscsiDirHostPath: /usr/local/etc/iscsi
  iscsiDirHostPathType: DirectoryOrCreate
  iscsiInfoDirHostPath: /usr/local/var/lib/iscsi
  iscsiInfoDirHostPathType: DirectoryOrCreate
  driver:
    extraEnv:
      - name: ISCSIADM_HOST_STRATEGY
        value: nsenter
      - name: ISCSIADM_HOST_PATH
        value: /usr/local/sbin/iscsiadm

# --- DRIVER CONFIGURATION ---
driver:
  # Mount the Sealed Secret we generated
  existingConfigSecret: truenas-csi-config
  config:
    # Helm requires this line to exist here to generate the iSCSI DaemonSet templates!
    driver: truenas-api-iscsi
