csiDriver:
  name: "org.democratic-csi.iscsi"

storageClasses:
  - name: truenas-iscsi
    defaultClass: false
    reclaimPolicy: Delete
    volumeBindingMode: Immediate
    allowVolumeExpansion: true
    parameters:
      fsType: ext4

# --- NODE CONFIG (TALOS FIXES) ---
node:
  hostPID: true
  driver:
    iscsiDirHostPath: /usr/local/etc/iscsi
    iscsiDirHostPathType: DirectoryOrCreate
    
    extraEnv:
      - name: ISCSIADM_HOST_STRATEGY
        value: nsenter
      - name: ISCSIADM_HOST_PATH
        value: /usr/local/sbin/iscsiadm

# --- DRIVER CONFIGURATION ---
driver:
  existingConfigSecret: truenas-csi-config
  config:
    driver: truenas-api-iscsi
